html {
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Spartan', 'Montserrat', 'Futura', sans-serif;
  background-color: rgba(255, 255, 245, 0.9);
}

body {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(35, 58, 108);
}
